@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* For some reason this property affects html2canvas' ability to render text. Without this change it will render text shifted downwards */
/* https://github.com/niklasvh/html2canvas/issues/2775 */
@layer base {
  img {
    @apply inline-block;
  }
}

html {
  /* needed because of dynamically changing bg */
  background-color: black;
  --pixel-size: 0.5em;
  /* Size of the pixel, static for now, can be adjusted */
}

.balatro-red {
  background-color: #fe4c40
}

/* Fonts */
@font-face {
  font-family: m6x11;
  src: url(/fonts/m6x11.ttf);
}

@font-face {
  font-family: jokerFont;
  src: url(/fonts/jokerfont.ttf);
}

.body-text {
  font-family: "m6x11", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.joker-text {
  font-family: "jokerFont", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

.letter-outline-white {
  -webkit-text-stroke: 1px white;
}
.letter-outline-grey {
  -webkit-text-stroke: 1px #4f6367;
}

/* Checkbox styling */
input[type='checkbox'] {
  -webkit-appearance: none;
  width: 3rem;
  height: 3rem;
  background: white;
}

input[type='checkbox']:checked {
  background: #ffb74f;
}

/* Joker overlay styles */
.polychrome-overlay {
  background-image: url("/polychrome.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  opacity: 0.3;
}

.debuff-overlay {
  background-image: url("/debuff.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: white; */
  opacity: 0.6;
}

.holographic-overlay {
  background-image: url("/holographic.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: ; */
  opacity: 0.8;
}

.foil-overlay {
  background-image: url("/foil.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: ; */
  opacity: 0.8;
}

.stone-overlay {
  background-image: url("/stone.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: white; */
  opacity: 0.5;
}

/* this is shit, fixlater */
.negative-overlay {
  filter: invert(1);
}

/* Pixelated border, bottom only (just like me fr) */
.pbbo {
  /* Bottom border color */
  background: var(--pixel-bg);
  box-shadow:

    /* Inner Background Color */
    /* box-shadow: [horizontal-offset] [vertical-offset] [blur] [spread] [color]; */
    0 calc(var(--pixel-size) * -1) 0 calc(var(--pixel-size) * -0.5) var(--pixel-bg),
    0 calc(var(--pixel-size) * 1) 0 calc(var(--pixel-size) * -0.5) var(--pixel-bg),
    0 calc(var(--pixel-size) * -1.5) 0 calc(var(--pixel-size) * -1) var(--pixel-bg),
    0 calc(var(--pixel-size) * 1.5) 0 calc(var(--pixel-size) * -1) var(--pixel-bg),

    /* Bottom border color: --pixel-border */
    0 calc(var(--pixel-size) * 1) 0 0 var(--pixel-border),
    0 calc(var(--pixel-size) * 2.5) 0 calc(var(--pixel-size) * -1.25) var(--pixel-border);
}

.pbbo.small {
  /* Because we're using a box shadow as the border it will overlap with other elements. */
  /* We use margin here to simulate the normal boundary of the button */
  margin: 1% 0;
}

.pbbo.big {
  margin: 2.25% 0;
}

/* Uncommon Joker (this one has comments, the others do not for simplicity */
.pbbo.green {
  /* Store original color in HSL */
  --base-hue: 156;
  --base-sat: 57%;
  --base-light: 47%;

  /* Adjusted values */
  --adjusted-light: calc(var(--base-light) * 0.67);
  --adjusted-hue: calc(var(--base-hue) * 1.01463);

  /* Final colors */
  --pixel-bg: hsl(var(--base-hue), var(--base-sat), var(--base-light));

  /* This color is used for the bottom as a shadow, it is derived by modifying the original color */
  --pixel-border: hsl(var(--adjusted-hue), var(--base-sat), var(--adjusted-light));
}

/* Common Joker */
.pbbo.blue {
  --base-hue: 205;
  --base-sat: 100%;
  --base-light: 50%;
  --adjusted-light: calc(var(--base-light) * 0.67);
  --adjusted-hue: calc(var(--base-hue) * 1.01463);
  --pixel-bg: hsl(var(--base-hue), var(--base-sat), var(--base-light));
  --pixel-border: hsl(var(--adjusted-hue), var(--base-sat), var(--adjusted-light));
}

/* Rare Joker */
.pbbo.red {
  --base-hue: 3.77;
  --base-sat: 100%;
  --base-light: 62.55%;
  --adjusted-light: calc(var(--base-light) * 0.67);
  --adjusted-hue: calc(var(--base-hue) * 1.01463);
  --pixel-bg: hsl(var(--base-hue), var(--base-sat), var(--base-light));
  --pixel-border: hsl(var(--adjusted-hue), var(--base-sat), var(--adjusted-light));
}

/* Legendary */
.pbbo.purple {
  --base-hue: 293.33;
  --base-sat: 37.82%;
  --base-light: 53.33%;
  --adjusted-light: calc(var(--base-light) * 0.67);
  --adjusted-hue: calc(var(--base-hue) * 1.01463);
  --pixel-bg: hsl(var(--base-hue), var(--base-sat), var(--base-light));
  --pixel-border: hsl(var(--adjusted-hue), var(--base-sat), var(--adjusted-light));
}

/* Clicky Button */
.clicky {
  border: 0;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: var(cubic-bezier(0.4, 0, 0.2, 1));
  transition-duration: 80ms;
  user-select: none;
}

.clicky:active {
  /* By removing the bottom border, we create the illusion of a click */
  box-shadow:
    /* Inner Background Color */
    0 calc(var(--pixel-size) * -1) 0 calc(var(--pixel-size) * -0.5) var(--pixel-bg),
    0 calc(var(--pixel-size) * 1) 0 calc(var(--pixel-size) * -0.5) var(--pixel-bg),
    0 calc(var(--pixel-size) * -1.5) 0 calc(var(--pixel-size) * -1) var(--pixel-bg),
    0 calc(var(--pixel-size) * 1.5) 0 calc(var(--pixel-size) * -1) var(--pixel-bg);
}

.clicky:hover {
  opacity: 0.95;
}

.clicky:active,
.clicky:focus {
  /** Remove Chrome's Ugly Yellow Outline **/
  outline: 0;
}

/* Colored border across all sides */
/* Pixlated borders */
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 12px),
      3px calc(100% - 12px),
      3px calc(100% - 6px),
      6px calc(100% - 6px),
      6px calc(100% - 3px),
      12px calc(100% - 3px),
      12px 100%,
      calc(100% - 12px) 100%,
      calc(100% - 12px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 12px),
      100% calc(100% - 12px),
      100% 12px,
      calc(100% - 3px) 12px,
      calc(100% - 3px) 6px,
      calc(100% - 6px) 6px,
      calc(100% - 6px) 3px,
      calc(100% - 12px) 3px,
      calc(100% - 12px) 0px,
      12px 0px,
      12px 3px,
      6px 3px,
      6px 6px,
      3px 6px,
      3px 12px,
      0px 12px);
  position: relative;
}

.pixel-corners {
  border: 3px solid transparent;
}

.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(3px 12px,
      6px 12px,
      6px 6px,
      12px 6px,
      12px 3px,
      calc(100% - 12px) 3px,
      calc(100% - 12px) 6px,
      calc(100% - 6px) 6px,
      calc(100% - 6px) 12px,
      calc(100% - 3px) 12px,
      calc(100% - 3px) calc(100% - 12px),
      calc(100% - 6px) calc(100% - 12px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 12px) calc(100% - 6px),
      calc(100% - 12px) calc(100% - 3px),
      12px calc(100% - 3px),
      12px calc(100% - 6px),
      6px calc(100% - 6px),
      6px calc(100% - 12px),
      3px calc(100% - 12px));
}

.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 12px),
      3px calc(100% - 12px),
      3px calc(100% - 6px),
      6px calc(100% - 6px),
      6px calc(100% - 3px),
      12px calc(100% - 3px),
      12px 100%,
      calc(100% - 12px) 100%,
      calc(100% - 12px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 3px) calc(100% - 12px),
      100% calc(100% - 12px),
      100% 12px,
      calc(100% - 3px) 12px,
      calc(100% - 3px) 6px,
      calc(100% - 6px) 6px,
      calc(100% - 6px) 3px,
      calc(100% - 12px) 3px,
      calc(100% - 12px) 0px,
      12px 0px,
      12px 3px,
      6px 3px,
      6px 6px,
      3px 6px,
      3px 12px,
      0px 12px,
      0px 50%,
      3px 50%,
      3px 12px,
      6px 12px,
      6px 6px,
      12px 6px,
      12px 3px,
      calc(100% - 12px) 3px,
      calc(100% - 12px) 6px,
      calc(100% - 6px) 6px,
      calc(100% - 6px) 12px,
      calc(100% - 3px) 12px,
      calc(100% - 3px) calc(100% - 12px),
      calc(100% - 6px) calc(100% - 12px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 12px) calc(100% - 6px),
      calc(100% - 12px) calc(100% - 3px),
      12px calc(100% - 3px),
      12px calc(100% - 6px),
      6px calc(100% - 6px),
      6px calc(100% - 12px),
      3px calc(100% - 12px),
      3px 50%,
      0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  pointer-events: none;
}

.pixel-corners::after {
  margin: -3px;
}

.pixel-corners.white::after {
  background: white;
}

/* CRT Effects! */
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }

  5% {
    opacity: 0.34769;
  }

  10% {
    opacity: 0.23604;
  }

  15% {
    opacity: 0.90626;
  }

  20% {
    opacity: 0.18128;
  }

  25% {
    opacity: 0.83891;
  }

  30% {
    opacity: 0.65583;
  }

  35% {
    opacity: 0.67807;
  }

  40% {
    opacity: 0.26559;
  }

  45% {
    opacity: 0.84693;
  }

  50% {
    opacity: 0.96019;
  }

  55% {
    opacity: 0.08594;
  }

  60% {
    opacity: 0.20313;
  }

  65% {
    opacity: 0.71988;
  }

  70% {
    opacity: 0.53455;
  }

  75% {
    opacity: 0.37288;
  }

  80% {
    opacity: 0.71428;
  }

  85% {
    opacity: 0.70419;
  }

  90% {
    opacity: 0.7003;
  }

  95% {
    opacity: 0.36108;
  }

  100% {
    opacity: 0.24387;
  }
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }

  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.crt {
  animation: textShadow 1.6s infinite;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}