@import "tailwindcss";

@font-face {
  font-family: m6x11;
  src: url(/fonts/m6x11.ttf);
}
@font-face {
  font-family: jokerFont;
  src: url(/fonts/jokerfont.ttf);
}
.body-text {
    font-family: "m6x11", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.joker-text {
    font-family: "jokerFont", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4f6367;
    line-height: 1.2;
    font-size: 2rem;
}
